// bootstrap
$theme-colors: ("primary": #ff5000)
$body-color: #878787

@import "~bootstrap/scss/_functions.scss"
@import "~bootstrap/scss/_variables.scss"
@import "~bootstrap/scss/_mixins.scss"
@import "~bootstrap/scss/_root.scss"
@import "~bootstrap/scss/_reboot.scss"
@import "~bootstrap/scss/_type.scss"
//@import "~bootstrap/scss/_images.scss"
//@import "~bootstrap/scss/_code.scss"
@import "~bootstrap/scss/_grid.scss"
//@import "~bootstrap/scss/_tables.scss"
//@import "~bootstrap/scss/_forms.scss"
@import "~bootstrap/scss/_buttons.scss"
//@import "~bootstrap/scss/_transitions.scss"
//@import "~bootstrap/scss/_dropdown.scss"
//@import "~bootstrap/scss/_button-group.scss"
//@import "~bootstrap/scss/_input-group.scss"
//@import "~bootstrap/scss/_custom-forms.scss"
//@import "~bootstrap/scss/_nav.scss"
//@import "~bootstrap/scss/_navbar.scss"
//@import "~bootstrap/scss/_card.scss"
//@import "~bootstrap/scss/_breadcrumb.scss"
//@import "~bootstrap/scss/_pagination.scss"
//@import "~bootstrap/scss/_badge.scss"
//@import "~bootstrap/scss/_jumbotron.scss"
//@import "~bootstrap/scss/_alert.scss"
//@import "~bootstrap/scss/_progress.scss"
//@import "~bootstrap/scss/_media.scss"
//@import "~bootstrap/scss/_list-group.scss"
//@import "~bootstrap/scss/_close.scss"
//@import "~bootstrap/scss/_toasts.scss"
//@import "~bootstrap/scss/_modal.scss"
//@import "~bootstrap/scss/_tooltip.scss"
//@import "~bootstrap/scss/_popover.scss"
//@import "~bootstrap/scss/_carousel.scss"
//@import "~bootstrap/scss/_spinners.scss"
@import "~bootstrap/scss/_utilities.scss"
//@import "~bootstrap/scss/_print.scss"

@import "./modal"

body,html
	height: 100%
body
	margin: 0
	background-color: #333
	position: relative
	&.init
		background-image: url("images/broken_noise.png")

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
	body.init
		background-image: url('images/broken_noise_@2X.png')
		background-size: 476px 476px

canvas
	display: block

canvas#dmd
	position: absolute
	top: 0
	left: 82px
	background-color: #151515
	display: none

div#vpx-version
	top: 0
	right: 6px
	position: absolute

.btn-top-right
	top: 0
	right: 10px
	position: absolute

.btn-bottom-right
	bottom: 0
	right: 10px
	position: absolute

.btn-transparent
	margin: 10px
	fill: rgba(255, 255, 255, 0.2)
	color: rgba(255, 255, 255, 0.2)
	background-color: transparent
	border: none
	font-size: 40px
	&:focus
		outline: none
	&:hover
		fill: rgba(255, 255, 255, 0.3)
		color: rgba(255, 255, 255, 0.3)

.btn-pause
	& > svg
		height: 32px
		width: 32px

#emu-buttons
	position: absolute
	left: 0
	bottom: 0
	background-color: #151515
	display: none

.btn.btn-w1
	width: 50px

.vertical-center
	min-height: 100vh
	display: flex
	align-items: center

.ar-1-1
	height: auto
	position: relative
	text-align: center
	padding: 100% 0 0
	border-radius: 50%

.round-box
	transition: .2s
	background-position: center
	background-size: 75%
	background-repeat: no-repeat
	border: 3px solid #878787
	position: relative
	background-color: rgba(0, 0, 0, 0.2)
	&:before
		transition: .2s
		position: absolute
		content: ''
		border: 1px solid #a0a0a0
		width: 110%
		height: 110%
		transform: translate(-50%, -95.5%)
		border-radius: 50%
	&.round-box-dotted
		border-style: dotted
		&:before
			border-style: dashed

	&.round-box-clickable
		cursor: pointer
		&:hover
			box-shadow: 0 0 100px -10px rgba(255, 80, 0, 0.1)
			border-color: #ff5000
			&:before
				border-color: #ff5000
				background-color: rgba(255, 80, 0, 0.04)

	div
		position: absolute
		top: 50%
		left: 0
		width: 100%
		transform: translateY(-50%)
